<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <nav><a href="/">Home</a>
        <a href="/about">About Me</a>
    </nav>

    <h2>About Me</h2>
    <p>My name is Ayah Meftah, a 20-year-old tech enthusiast based in Bahrain. With a strong interest in software
        development, I’ve been exploring various areas of coding and technology through academic projects and
        self-driven learning. I enjoy turning ideas into interactive, meaningful digital experiences. I am currently
        expanding my knowledge through hands-on projects and continuous practice. As someone who thrives in
        collaborative environments, I’m motivated by challenges and always ready to learn something new every day!</p>
    <h3>Technologies</h3>
    <ul>
        <li>
            <h4>Languages</h4>
            <p>Java, JavaScript, C#, Swift, HTML, Python, PHP, Dart, CSS</p>
        </li>
        <li>
            <h4>Frameworks & Libraries</h4>
            <p>ASP.Net core, EFcore, Bootstrap, Flutter, Node.js, Express</p>

        </li>
        <li>
            <h4>Database</h4>
            <p>Oracle SQL, MySQL, Firebase, SQL Server</p>

        </li>
        <li>
            <h4>Tools & Platforms</h4>
            <p>Git, GitHub, Visual Studio, MS Visual Studio, Phpstorm, phpmyadmin, xcode, Cloudinary, Unity Hub</p>
        </li>

    </ul>
    <h3>Education</h3>
    <p>Bachelor's Degree - Information & Communication Technology (Programming Major) - Bahrain Polytechnic</p>
    
    <h3>Future Career Goals</h3>
    <p>I’m looking forward to pursuing a career in the tech industry where I can contribute as a full-stack web
        developer or software engineer. In the future, I also aim to expand my knowledge in cloud technologies and gain
        hands-on experience with modern cloud platforms and infrastructure.</p>
</body>

</html>