<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav><a href="/">Home</a>
        <a href="/about">About Me</a>
    </nav>
    <h1>Welcome to my website!</h1>
    <h2>Hi, I’m Ayah Ahmed Meftah</h2>
    <h3>a 20-year-old aspiring developer from Bahrain with a passion for technology, creativity, and solving real-world problems through code. I’m currently building my skills in software development and always eager to learn more.</h3>
    
</body>
</html>